html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}

/*
#rightBackground {
  background-color: blueviolet;
  width: 75%;
}
*/

#coordinates {
  background-color: #B6E2FE;
  width: 33%;
}

#gripper {
  background-color: #70C7FF;
  width: 33%;
}

#home {
  background-color: #21A9FF;
  width: 33%;
}

#objectDetection{
  width: 65%;
  background-color: #B6E2FE;
}

.left_inner_container {
  height: 30%;
  width: 80%;
  justify-content: center;
  background-color: black;
}