html, body, #root, .App {
  height: 100%;
}

.App {
  display: flex;
  flex-flow: row wrap;
  background-color: black;
}

/*
#rightBackground {
  background-color: blueviolet;
  width: 75%;
}
*/

#coordinates {
  background-color: orange;
  width: 33%;
}

#gripper {
  background-color: green;
  width: 33%;
}

#home {
  background-color: blueviolet;
  width: 33%;
}

.left_inner_container {
  height: 30%;
  width: 80%;
  justify-content: center;
  background-color: black;
}