.input-coord-row{
    margin-top: 25%;
    margin-left: 5%;
}

.coord-row{
    margin-bottom: 6%;
}

#coord-row1{
    margin-top: 10%;
}

.input-header{
    font-size: xxx-large;
}

.item-col{
    margin-top: 12%;
    margin-left: 5%;
}