.gp{
    margin-top: 21% !important;
}

.grp{
    width: 200%;
    height: 50%;
    margin: 15% 29% 0 29%;
    font-size: x-large !important;
    font-weight: bold !important;
}

.input-width-row{
    text-align: center;
    margin: 26% 24% 0 24% !important;
}

.input-row{
    
}

.input-width{
    width: 68%;
    margin-right: 7%;
}